.App {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 1183px) {
  .App {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .App {
    width: 91%;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label sup {
  color: #eb5757;
}
.payment-modal {
  margin: 20rem auto;
  padding: 4rem 8rem 5rem;
  flex-direction: column;
  text-align: left;
  box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
  border-radius: 10px;
}

/* Purchase Component */
.purchase {
  margin: 10rem auto;
}
@media (max-width: 768px) {
  .purchase {
    margin: 5rem auto;
  }
}
.purchase h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #4e598c;
  text-align: left;
}
@media (max-width: 960px) {
  .purchase h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (max-width: 768px) {
  .purchase h1 {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
.tab-list {
  padding-left: 0;
  text-align: left;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -6px;
  font-weight: bold;
  font-size: 24px;
  line-height: 39px;
  color: #bdbdbd;
  width: calc(100% / 3);
}
@media (max-width: 768px) {
  .tab-list-item {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
@media (max-width: 339px) {
  .tab-list-item {
    font-size: 1.2rem;
  }
}
.tab-list-active {
  color: #f2994a;
}
.tab-list-item .underline {
  border: 0.1px solid black;
  margin: 10px 0;
}
.tab-list-active .underline {
  margin: 6px 0;
  border: 5px solid #f2994a;
  border-radius: 10px;
}

/* CompletedPayment and PaymentCancelled Components */
.white-bgd {
  background-color: #fff;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-modal {
  margin: 20rem auto;
  padding: 4rem 8rem 5rem;
  flex-direction: column;
  text-align: left;
  box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
  border-radius: 10px;
}
h1.title {
  color: #4e598c;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 67px;
  margin-top: 0.1rem;
}
#completed-purchase p,
#completed-purchase a {
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
  margin: 2rem 0;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration-line: underline;
  color: #f2994a;
}
span i {
  align-self: center;
  justify-content: center;
}
#completed-purchase span i {
  color: #6fcf97;
}
#cancelled-payment span i {
  color: tomato;
}
span.payment-resolution-icon {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  box-shadow: 0px 6px 10px #211e4314;
  margin: 0 auto;
}

.form-control {
  text-align: left;
}
.form-control label {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-align: left;
  padding-bottom: 40px;
}
.form-control label.input-note {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #817e9e;
}
.form-control {
  margin-top: 30px;
}
.form-control input {
  margin: 20px 0;
  /* font-size: 16px;
  padding: 0 20px; */
}
.width-100 {
  width: 100%;
}
.input {
  border: 1px solid #4e598c;
  border-radius: 10px;
  height: 50px;
}
.city-grid {
  display: grid;
  grid-template-columns: 5fr 3fr;
  column-gap: 40px;
}
@media (max-width: 360px) {
  .city-grid {
    display: block;
  }
}
.card-grid {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  column-gap: 40px;
  max-width: 100%;
}
@media (max-width: 560px) {
  .card-grid {
    display: block;
  }
}
.button-div {
  margin-top: 30px;
  text-align: left;
}
.button-div a:link,
.button-div a:visited,
.button-div a:hover,
.button-div a:active {
  text-decoration-line: none;
  color: #4e598c;
  font-weight: bold;
}
/* Button */
button {
  background: linear-gradient(180deg, #f2c94c 0%, #f2994a 100%);
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  padding: 20px 110px;
  border: unset;
  margin-right: 90px;
}
@media screen and (max-width: 768px) {
  button {
    margin-right: 40px;
  }
}
@media screen and (max-width: 560px) {
  button {
    padding: 13px 50px;
    margin-right: 30px;
  }
}

/* Confirm Payment Component */
.table {
  margin: 60px 0;
  padding-bottom: 20px;
  border-radius: 16px 10px 10px 10px;
  background: #ffffff;
  box-shadow: 0px 10px 15px rgba(33, 30, 67, 0.08);
}
.table > div {
  padding-left: 100px;
  padding-right: 100px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
.table-header {
  background-color: #2f80ed;
  border-radius: 16px 10px 0 0;
}
.table-header p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 768px) {
  .table-header p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}
.table hr {
  border-bottom: 1px solid #817e9e;
  width: 85%;
}
.item-list {
  padding-top: 30px;
}
.item-list p,
.total p {
  font-size: 20px;
  line-height: 30px;
  color: #4e598c;
}
.item-list p {
  margin: 30px 0;
}
@media (max-width: 768px) {
  .item-list p,
  .total p {
    font-size: 0.8rem;
    line-height: 2rem;
  }
  .item-list p {
    margin: 5px 0;
  }
}
.total > div {
  border: 1px solid #817e9e;
  box-sizing: border-box;
  border-radius: 5px;
  /* width: 90%; */
  margin: 40px -30px;
  padding: 0 30px;
}
.total-text {
  color: #817e9e;
}
.bold {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .table > div {
    padding: 0 20px;
  }
  .table hr {
    width: 97%;
  }
  .total > div {
    margin: 40px -10px;
  }
}
